/* css reset */
body{
    margin:0px;
}
/* layout grid */
.wa-grid {
    width: 1920px;
    height: 600px;
    overflow: hidden;
}
.gridster .gs-w {
    background: #373737;
    cursor: pointer;
}

.gridster > ul {
    padding: 0px;
}


.wa-grid-cell {
   overflow: hidden;
}

.gridster .gs-w:hover{
    box-shadow: 3px 3px 3px #00A2E4;
}
/* KPI */


.wa-kpi {
    width: 620px;
    height: 240px;
    margin-left: auto;
    margin-right:auto ;
}

.wa-kpi-title{
    text-align:center ;
    color:#999;
}

.wa-kpi-alert{
    box-shadow:inset 0 0 0 5px #b94a48 ;
    transition: border 0.5s ease 0s;
}

/* KPI Operators load factor */
.wa-kpi-operators-load-factor {
    display: block;
    width: 200px;
    height: 200px;
    float:left;
    margin-right: auto;
    margin-left: auto;
}

/* KPI bus occupancy */
.wa-kpi-bus-occupancy{
    padding-top:70px;
    padding-left:auto;
    padding-right:auto;
    width:600px;
    height:100px;
}