
/***************************************************/
/* MAIN LAYOUT */
/***************************************************/

body {
	overflow: hidden;
	font-size:12px;
	background: #16191A;
    font-family:Arial;
    color: white;
    /* Set opacity to 0.999 in order to active anti-aliasing */
    opacity: 0.999;
    /* Disable user selection */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

img {
	user-drag: none;
    -webkit-user-drag: none;
}

.gwt-Label, .gwt-HTML {cursor: default;}

/***************************************************/
/* SCREEN PANEL */
/***************************************************/

.screen {
	position: absolute;
    font-size:1em;
	height: 100%;
	width: 50%;
	top: 0;
}

.screen-header {
	position: absolute;
	width: 100%;
	top: 0;
	height: 46px;
	text-align: center;
	background: #373737;
}

.screen-header-left {
    float:left;
    width:30%;
    height: 100%;
	text-align: left;
	overflow-y: hidden;
	white-space: nowrap;
}

.screen-header-middle {
    display: inline-block;
    margin:0 auto;
    width: 30%;
    height: 100%;
	white-space: nowrap;
}

.screen-header-right {
    float:right;
    width: 30%;
    height: 100%;
	text-align: right;
}

.screen-header-left > *, .screen-header-right > * {
	vertical-align: middle;
	margin: 0 5px;
	display: inline-block;
}

.screen-header-right > * {
	margin-top: 8px;
}

.screen-content {
	position: absolute;
	top: 46px;
	bottom:0px;
	width: 100%;
    border-width: 2px;
    border-style: solid;
	border-color: transparent;
	box-sizing:border-box;
    -moz-box-sizing: border-box;
	background: #16191A;
}

.screen-message {
	position: absolute;
	bottom: 0px;
	line-height: 20px;
	color: black;
	font-size: 1.2em;
	font-weight: bold;
	display: none;
	background: #FFA500;
	width: 100%;
	text-align: center;
}

#app-layout[state="offline"] .screen-content {border-width: 10px; border-color: #FFA500; border-bottom: none; bottom:20px;}
#app-layout[state="offline"] .screen-message {display: block;}

#app-layout[state="booking"] .screen-content {border-width: 10px; border-color: #0073a2; border-bottom: none; bottom:20px;}
#app-layout[state="booking"] .screen-message {display: block; background: #0073a2; color: white; font-weight: normal;}

.screen-header .flat-button {box-shadow: none;}

/***************************************************/
/* CONTAINER */
/***************************************************/

.container {
	position: absolute;
	overflow: hidden;
	border: 2px solid transparent;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container > div {
	position: absolute;
	left: 0;
	right: 0;
}

/***************************************************/
/* STANDARD CONTAINER */
/***************************************************/

.container-header {
	top: 0;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	height: 30px;
	padding: 4px;
	text-align: center;
	font-size: 1.2em;
	background: -webkit-linear-gradient(top, #2a2a2a, #202020);
    background: -moz-linear-gradient(top, #2a2a2a, #202020);
    background: -ms-linear-gradient(top, #2a2a2a, #202020);
	border-bottom: 1px solid #121414;
}

.container-content {
	top: 30px;
	bottom: 0;
	background: #373737;
	overflow-x: hidden;
    overflow-y: auto;
	box-sizing:border-box;
    -moz-box-sizing: border-box;
	font-size: 1em;
}

.container .icon {
	float: left;
	height: 16px;
	margin: 2px 5px;
	margin-right: 5px;
	cursor: pointer;
}

.container .title {
	float: left;
	line-height: 20px;
	margin-left: 5px;
}

/***************************************************/
/* TABS CONTAINER */
/***************************************************/

.gwt-TabLayoutPanelContentContainer {background: #373737;}

.gwt-TabLayoutPanelTabs {
	height: 100%;
	background: -webkit-linear-gradient(top, #2a2a2a, #202020);
    background: -moz-linear-gradient(top, #2a2a2a, #202020);
    background: -ms-linear-gradient(top, #2a2a2a, #202020);
	border-bottom: 1px solid #121414;
}

.gwt-TabLayoutPanelTab {
	height: 100%;
	padding: 0px 5px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	font-size: 1.2em;
	border-right: 2px solid #121414;
}

.gwt-TabLayoutPanelTab:hover {cursor: pointer;}
.gwt-TabLayoutPanelTab:hover .gwt-Label {color: white; cursor: pointer;}
.gwt-TabLayoutPanelTab .gwt-Label {color:#999; display: inline-block; padding: 0 5px; line-height: 28px;}
.gwt-TabLayoutPanelTab-selected .gwt-Label {color: #00A2E4;}
.gwt-TabLayoutPanelTab-selected:hover .gwt-Label {color: white;}

/***************************************************/
/* STACK CONTAINER */
/***************************************************/

.gwt-StackLayoutPanel {
	background: #373737;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	overflow: hidden;
}

.gwt-StackLayoutPanelContent {padding: 0;}

.gwt-StackLayoutPanelHeader {
	background: -webkit-linear-gradient(top, #2a2a2a, #202020);
    background: -moz-linear-gradient(top, #2a2a2a, #202020);
    background: -ms-linear-gradient(top, #2a2a2a, #202020);
	font-size: 1.2em;
	padding: 4px;
	line-height: 20px;
	border-bottom: 1px solid #121414;
}

.gwt-StackLayoutPanelHeader-hovering {cursor: pointer; color: #00A2E4;}
.gwt-StackLayoutPanelContent {overflow-y: auto; overflow-x: hidden;}
.gwt-StackLayoutPanelHeader .gwt-HTML {line-height: 20px; margin-left: 31px;}
.gwt-StackLayoutPanelHeader:hover .gwt-HTML {cursor: pointer;}

/***************************************************/
/* INNER BLOCK */
/***************************************************/

.container .inner-panel {
    padding: 10px;
}

.container .inner-panel-content {
    background: #2F2F2F;
    border: 1px solid #272727;
    border-bottom: 1px solid #464646;
    border-right: 1px solid #464646;
    border-radius: 5px;
    padding: 6px 10px;
    box-shadow: 0px 1px 1px #222 inset;
    box-sizing: border-box;
}


/***************************************************/
/* HEADER BUTTON BAR */
/***************************************************/

.container-header .button-bar {
	position: absolute;
	top:0;
	bottom:1px; /* 1px to consider the 1px border bottom of header */
	right:0;
	background: -webkit-linear-gradient(top, #2a2a2a, #202020);
    background: -moz-linear-gradient(top, #2a2a2a, #202020);
    background: -ms-linear-gradient(top, #2a2a2a, #202020);
}

.container-header .button-bar button {
    border: none;
    width: 24px;
    height: 100%;
    border-left: 1px solid #121414;
    background-color: transparent;
    cursor: pointer;
}

/***************************************************/
/* GRID STYLES */
/***************************************************/

table.fixed-height td {line-height: 28px;}

/***************************************************/
/* CONTAINER HEADER */
/***************************************************/

.container-header .left {
	position: absolute;
	left: 6px;
	z-index: 1;
}

.container-header .right {
	position: absolute;
	right: 6px;
	z-index: 1;
}

.container-header .center {
	position: absolute;
	left: 6px;
	right: 6px;
	text-align: center;
}

.container-header button {
	background: -webkit-linear-gradient(top, #2a2a2a, #202020);
	height: 22px;
	border-color: black;
	box-shadow: 0 0 1px #111;
}

button[switched], button[state="active"] {
    background: -webkit-linear-gradient(top, #0073a2, #004c6b);
    box-shadow: 0 0 3px #002533 inset;
    color: white;
}